.container{
height: 300px;
width: 500px;
border: 3px solid rgb(124, 122, 122);

}
.box{
    background-color: rgb(23,162,184);
    height: 80px;
    width: 500px;

}
.profile-pic img{
    height:70px;
    position: relative;
    bottom: 35px;
    left: 10px;
    border: 5px solid rgb(166, 166, 166);
    border-radius: 50%;
    
}
h1{
    font-family: sans-serif;
    font-size: 20px;
    margin: 25px;
    bottom: 49px;
    position: relative; 
}
.location{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 80px;
    left: 20px;
    
   
}
.location img{
    height: 30px;
    margin: 10px;

}
.location h3{
    font-family: sans-serif;
}
.description p{
    position: relative;
    bottom: 100px;
    font-size: 15px;
    margin: 13px;
    font-family: sans-serif;
}
.edting{
    position: relative;
    bottom: 100px;
    display: flex;
    align-items: center;
    left: 20px;
}
.edting img{
    height: 30px;
    margin: 10px;
}
