*{
    text-decoration: none;
    list-style: none;
    }
    .nav {
      background-color: #333333;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .nav-title {
      color: rgb(248, 248, 248);
      margin: 10px;
      font-family: sans-serif;
      font-weight: 200;
    }
    .nav-links {
      display: flex;
      gap: 30px;
      margin: 10px;
    }
    li a {
      color: rgb(164, 157, 157);
      font-family: sans-serif;
    }
    .active {
      color: rgb(255, 255, 255);
    }
    .btn {
      background: #24a2b8;
      color: white;
      box-shadow: 4px 4px black;
      font-size: 15px;
    }